body{
    background-color: aqua;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgqPeZ1-W-TZpm2d90xyb5ebeYXPAPAPb0yA&s);
    background-repeat: no-repeat;
    background-size: 100% 950px;
    background-attachment: fixed;
}